main{
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 15%;
}

input {
    transform: scale(1.4);
    margin: 0 10px;
    display: inline-block;
    position: relative;
    top: 500px;
    left: 40%;
}

/*n так же равняется 0 */
#first-list:checked ~ main :nth-last-child(n + 13) {
    display: inline-block;
}


#second-list:checked ~ main :nth-last-child(n + 9){
    display: inline-block;
}

#second-list:checked ~ main :nth-last-child(n + 13){
    display: none;
}

#third-list:checked ~ main :nth-last-child(n + 5){
    display: inline-block;
}

#third-list:checked ~ main :nth-last-child(n + 9){
    display: none;
}

#fourth-list:checked ~ main :nth-last-child(n + 1){
    display: inline-block;
}

#fourth-list:checked ~ main :nth-last-child(n + 5){
    display: none;
}

article {
    display: none;
    vertical-align: top;
    width: 200px;
}

article:hover {
    transform: scale(1.3);
    padding: 10px;
    margin: 0 -10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

article:hover > .description-element-harvest {
    display: block;
}

.description-element-harvest {
    display: none;
    font-size: 60%;
}

.img-element-harvest {
    height: 200px;
    width: 200px;
}

.button-close {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    width: 60px;
}