
.position_input[type="radio"]{
    display: none;
}

label {
    display: block;
    margin: 0 30%;
    padding: 0 30px;
    border: 1px solid #999;
    text-align: center;
    border-radius: 6px 6px 6px 6px;
    line-height: 34px;
    cursor: pointer;
    user-select: none;
}

input[type="radio"]:checked + label {
    background: #ffc5c5;
}

#list:checked ~ .card {
    display: block;
}

#list:checked ~ .card > div {
    display: inline-block;
}

#table:checked  ~ .card {
    display: inline-block;
}

#table:checked ~ .card > div{
    display: block;
    margin: 5px 0;
    padding: 10px 0;
}

.card {
    display: block;
    font-size: 1.5em;
    overflow: hidden;
    padding: 15px;
    margin: 10px;
    vertical-align: top;
}

.main-info {
    display: inline-block;
    overflow: hidden;
    margin: 0 10px;
    padding: 0 10px;
    width: 300px;
    vertical-align: top;
}


.description {
    display: inline-block;
    font-size: 0.75em;
    margin: 0 10px;
    padding: 0 10px;
    width: 300px;
    vertical-align: top;
}

.img-cat {
    display: inline-block;
    width: 300px;
    height: 300px;
}

.img-cat:hover{
    opacity: 0.7;
}

.name {
    overflow: hidden;
    white-space: nowrap;
    max-width: 300px;
    text-overflow: ellipsis;
    font-family: YS Text,sans-serif;
    line-height: 1.3em;
}

.category {
    font-size: 0.5em;
    color: #b3b3b3;
    line-height: 1.1em;
}

.category span {
    text-decoration: underline;
}


.rating {
    margin: 5px 0 10px;
    padding: 5px 0;
    content: '★';
}

.price {
    color: #ff0000;
    font: .6em YS Text, Arial, Helvetica,sans-serif;
    font-weight: bold;
}

.price span:nth-last-child(2) {
    color: #b3b3b3;
    text-decoration: line-through;
}



