* {
    margin: 0;
    padding: 0;
}

.main-form > div {
    horiz-align: center;
}

.main-form_theme-grey {
    height: 1600px;
    margin: 20px;
    background: #F5F5F5;
}

.logo-yandex {
    position: absolute;
    right: 10%;
    width: 167px;
    height: 130px;
}

.video {
    height: 360px;
    width: 600px;
    background: url("res/background_video.jpg");
}

.video__name {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

