* {
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
}

.main-form_theme-grey {
    padding-bottom: 48px;
    margin: 18px;
    background: #eeeeee;
}

.logo-yandex {
    position: absolute;
    right: 10%;
}

.showcase {
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase_indents {
    padding-top: 150px;
}

.button-selector-car_indents {

}

.showcase__block-car_indents {
    margin: 0 32px;
}

.button-selector-car {

}

.button_round {
    background: #ffcf11;
    border-radius: 100%;
}

.button-selector-car__button_center {
    position: absolute;
}
.previous-btn{
    width: 80px;
    height: 80px;
    order: 1;
}


.next-btn {
    width: 80px;
    height: 80px;
    order: 3;
}

.button-selector-car__button_center {
    margin: 27px 30px;
}

.showcase__block-car {
    display: flex;
    flex-direction: column;
    width: 675px;
    order: 2;
}

.block-car__title {
    margin-bottom: 40px;
    text-align: left;
}

.video {
    width: 640px;
    height: 360px;
    background: url("res/background_video.jpg");
}

.video_indents {
    margin: 40px auto 0 auto;
}

.video__button-play {
    position: absolute;
    margin: 140px 260px;
    width: 120px;
    height: 120px;
}

.play {
    /* 60 45 */
    margin: 35px 45px;
}


.video__name {
    position: absolute;
    width: 640px;
    text-align: center;
    font-size: 29px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

.video__name_indents {
    padding: 8px 0 8px 0;
}

.about-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-service__title {
    margin: 10px 0 40px 0;
    font-size: 32px;
}

.about-service_indents {
    margin: 40px;
}

.block-ability {
    display: flex;
    justify-content: space-between;
}

.block-ability_indents {
    margin: 0 64px;
}

.test-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: flex-start;
}


.title {
    text-align: center;
    font-size: 50px;
}

.box-ability {
    width: 200px;
}

.box-ability__title {
    font-size: 30px;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-ability__description {
    font-size: 16px;
}

.test-service__button {
    width: auto;
    background: radial-gradient(farthest-corner ellipse, #FDD835, #ffdf05);
    border-radius: 10px;
    font-size: 36px;
    padding: 16px;
    margin: 48px auto 0 auto;
}

.text {
    cursor: pointer;
}

.test-service__button:hover {
    background: radial-gradient(farthest-corner ellipse, #FDD835, #FFEE58)
}

.button_opacity:hover {
    opacity: 80%;
}